body
{
margin:25px;
font-family:Calibri;
background-color:#C0C0C0;
}

ins
{
width:470px;
padding:5px;
display:block;
margin:25px auto;

font-size:32px;
font-weight:bold;
text-decoration:none;

border-width:2px;
border-radius:9px;
border-style:solid;
border-color:#000000;

background-color:#EEE;
}

img
{
width:480px;
display:block;
margin:25px auto;

border-width:2px;
border-radius:9px;
border-style:solid;
border-color:#000000;

background-color:#EEE;
}

div#\&
{
width:480px;
height:360px;
display:block;
margin:25px auto;

border-width:2px;
border-radius:9px;
border-style:solid;
border-color:#000000;

background-color:#EEE;
}

div#\&\!
{
width:inherit;
height:inherit;

cursor:pointer;

position:absolute;
}

canvas
{
position:absolute;
}

input[type="text"]
{
width:470px;
padding:5px;
display:block;
margin:25px auto;

font-size:32px;
font-weight:bold;
font-family:inherit;

border-width:2px;
border-radius:9px;
border-style:solid;
border-color:#000000;

background-color:#EEE;
}

button
{
width:240px;
display:block;
margin:25px auto;

font-size:32px;
font-weight:bold;
font-family:inherit;
}

aside
{
top:0px;
left:0px;
bottom:0px;
width:70px;
position:fixed;

background-color:#EEE;

border-right-width:2px;
border-right-style:solid;
border-right-color:#000000;
}

p
{
width:480px;
margin:25px auto;

font-size:21px;
text-indent:3em;
text-align:justify;
}

p > a
{
color:inherit;
}