body
{
margin:25px;
font-family:Calibri;
background-color:#C0C0C0;
}

div
{
width:470px;
padding:5px;
display:block;
margin:25px auto;

font-size:32px;
font-weight:bold;

border-width:2px;
border-radius:9px;
border-style:solid;
border-color:#000000;

background-color:#EEE;
}

img
{
width:480px;
display:block;
margin:25px auto;

border-width:2px;
border-radius:9px;
border-style:solid;
border-color:#000000;

background-color:#EEE;
}

canvas
{
display:block;
cursor:pointer;
margin:25px auto;

border-width:2px;
border-radius:9px;
border-style:solid;
border-color:#000000;

background-color:#EEE;
}

canvas:active {cursor:pointer;}

input[type="text"]
{
width:470px;
padding:5px;
display:block;
margin:25px auto;

font-size:32px;
font-weight:bold;
font-family:inherit;

border-width:2px;
border-radius:9px;
border-style:solid;
border-color:#000000;

background-color:#EEE;
}

button
{
width:240px;
display:block;
margin:25px auto;

font-size:32px;
font-weight:bold;
font-family:inherit;
}

p
{
width:480px;
margin:25px auto;

font-size:21px;
text-indent:3em;
text-align:justify;
}

p > a
{
color:inherit;
}